DATABASE_URL=sqlite:///./mentoria.db
REDIS_URL=redis://localhost:6379
GOOGLE_CLIENT_ID=id client
GOOGLE_CLIENT_SECRET=chave secreta
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
JWT_SECRET=chave jwt
GEMINI_API_KEY=chave api gemini