DATABASE_URL=sqlite:///./mentoria.db
GOOGLE_CLIENT_ID=id client
GOOGLE_CLIENT_SECRET=chave secreta
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
JWT_SECRET=chave jwt (minimo 32 caracteres)
JWT_EXPIRATION_HOURS=1
GEMINI_API_KEY=chave api gemini
GEMINI_MODEL=gemini-2.5-flash
FRONTEND_URL=http://localhost:5173
DEBUG=True